body {
  font-family: "Abel";
  color: white;
}
body,
html {
  height: 100%;
}
.háttérkép {
  background-image: url(elmosódottháttér.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  background-size: cover;
}
#főlogo {
  margin: auto;
  display: block;
  width: 35%;
}
.menü:hover {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 15px;
}
.menü {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}
.menüszél {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.alapcsat {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.5vw;
}
.balra {
  float: left;
}
.jobbra {
  float: right;
}
.szöveg {
  font-family: "Abel";
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  font-size: 1.6vw;
}
.képközép {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 45px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
.fenthely {
  margin-top: 2vw;
}
#krakaterháttér {
  background-image: url(karakterekkép.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  background-size: cover;
}
.közép {
  text-align: center;
}
#fúrós {
  background-color: rgba(255, 255, 0, 0.7);
}
#mérnök {
  background-color: rgba(255, 0, 0, 0.7);
}
#lövész {
  background-color: rgba(0, 128, 0, 0.7);
}
#felderítő {
  background-color: rgba(0, 0, 255, 0.7);
}
#fúrós:hover {
  background-color: rgba(255, 255, 0, 0.9);
}
#mérnök:hover {
  background-color: rgba(255, 0, 0, 0.9);
}
#lövész:hover {
  background-color: rgba(0, 128, 0, 0.9);
}
#felderítő:hover {
  background-color: rgba(0, 0, 255, 0.9);
}
.karakterkép {
  width: 25vw;
}
.fúrósháttér {
  background-color: rgba(255, 255, 0, 0.2);
}
.mérnökháttér {
  background-color: rgba(255, 0, 0, 0.2);
}
.lövészháttér {
  background-color: rgba(0, 128, 0, 0.2);
}
.feldháttér {
  background-color: rgba(0, 0, 255, 0.2);
}
.kisszöveg {
  font-family: "Abel";
  text-align: justify;
  font-size: 1.3vw;
}
#küldetésháttér {
  background-image: url(küldetésháttér.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  background-size: cover;
}
.kiscím {
  text-decoration: underline;
}