body {
  font-family: "Abel";
  color: white;
}
.háttérkép {
  background-image: url(elmosódottháttér.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  background-size: cover;
}
#főlogo {
  margin: auto;
  display: block;
  width: 50%;
}
.menü:hover {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 15px;
}
.menü {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menüszél {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.alapcsat {
  text-decoration: none;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.balra {
  float: left;
}
.jobbra {
  float: right;
}
